<!DOCTYPE html>
<html>
<head>
	<title>Help | Let me know if you know where to get some</title>
</head>
<body>

<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
<p>for help call 1800GOFUKURSELF</p>
</body>
</html>



